In [15]:
import pandas as pd

ramen = pd.read_csv("ramen-ratings.csv")
ramen.shape[0]

2580

In [18]:
ramen.columns

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')

In [33]:
ramen[['Review #', 'Brand']][3:90]

    Review #           Brand
3       2577         Wei Lih
4       2576  Ching's Secret
5       2575   Samyang Foods
6       2574         Acecook
7       2573     Ikeda Shoku
..       ...             ...
85      2495          Nissin
86      2494          Nissin
87      2493          Nissin
88      2492          Nissin
89      2491          Nissin

[87 rows x 2 columns]